{% extends "layout.html" %}
{% block title %}
Upload
{% endblock %}
{% block content %}

<h4>Choose a file to upload and enter the name of the column that contains the data you would like to analyze:</h4>

<form method=post enctype=multipart/form-data>
    <input type=file name=file>
    <label for="column">Column:</label>
    <input type=text name=text>
    <input type=submit value=Upload>
</form>

<form action="/show_data">
    <input type="submit" value="Show Graph">
</form>

<div align="center">
    <table>
        <h1>
             {% for table in tables %}
            <h2>{{titles[loop.index]}}</h2>                            
            {{ table|safe }}
            {% endfor %}     
        </h1> 
    </table>
</div>
{% endblock %}


